#shopify-section-header {
  z-index: 3;
}

.shopify-section-header-sticky {
  position: sticky;
  top: 0;
}

.shopify-section-header-hidden {
  transform: translateY(-100%);
}

.shopify-section-header-hidden.menu-open {
  transform: translateY(0);
}

#shopify-section-header.animate {
  transition: transform 0.15s ease-out;
}

.header-wrapper {
  display: block;
  position: relative;
  background-color: #CBD81D;
  height: calc(158px * var(--zoom-factor));
}

.header {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr; 
  grid-template-areas: "header-1 header-2 header-3";
  height: 60%;
  margin-left: calc(40px * var(--zoom-factor));
  margin-right: calc(40px * var(--zoom-factor));
}

.menu-logo-wrapper {
  grid-area: header-1;
  display: flex;
  width: calc(454px * var(--zoom-factor));
  height: 100%;
}

.header-logo {
  width: calc(252px * var(--zoom-factor));
  height: calc(57px * var(--zoom-factor));
  margin-top: calc(26px * var(--zoom-factor));
}

.header-logo-tag  {
  display: block;
  line-height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.header-logo-link {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.header-logo-img {
  width: 100%;
  height: auto;
}

.menu-scroll {
  display: block;
  height: 40%;
}

.header-menu {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.header-menu-ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: calc(50px * var(--zoom-factor));
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-menu-li {
  display: flex;
  height: 100%;
}

.header-menu-li:hover {
  background-color: #f9f9f9;
}

.header-menu-li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: calc(22px * var(--zoom-factor));
  text-decoration: none;
  color: #000;
  padding-left: calc(25px * var(--zoom-factor));
  padding-right: calc(25px * var(--zoom-factor));
  white-space: nowrap;
}

.header-menu-li:hover .dropdown-container{
  display: flex;
  padding-bottom: calc(20px * var(--zoom-factor));
  background-color: #f9f9f9;
}

.dropdown-container {
  display: none;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: calc(50px * var(--zoom-factor));
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: height 1s ease-out;
  &::before {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh + (115px* var(--zoom-factor)));
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000 !important;
    pointer-events: none;
  }
}

.dropdown-wrapper {
  display: flex;
  justify-content: center;
  font-size: calc(12px * var(--zoom-factor));
  width: 100%;
  background-color: #f9f9f9;
  transition: height 1s ease-out;
  li{
    width: 25%;
  }
}

.dropdown-menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  font-weight: 600;
  font-size: calc(16px * var(--zoom-factor));
  width: 65%;
  z-index: 2;
  li {
    display: flex;
    flex-direction: column; 
    width: 25%;
    padding: calc(5px * var(--zoom-factor)) calc(10px * var(--zoom-factor)) 0 calc(10px * var(--zoom-factor));
    margin: 0;
  }
}

.dropdown-menu li a {
  display: flex;
  justify-content: flex-start;
  font-size: calc(16px * var(--zoom-factor));
  padding: calc(10px * var(--zoom-factor)) 0 0 0;
  height: fit-content;
}

.dropdown-menu li a:hover {
  color: #CBD81D;
  background-color: transparent;
}

.dropdown-submenu {
  display: flex;
  font-weight: 100;
  font-size: calc(10px * var(--zoom-factor));
  flex-direction: column;
  justify-content: start;
  align-items: start;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  padding: 0;
  li {
    display: flex;
    width: fit-content;
    padding: 0;
  }
}

.dropdown-submenu li a:hover {
  color: #CBD81D;
}

@keyframes animateMenuOpen {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.badge {
  border: 1px solid transparent;
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  padding: 0.5rem 1.3rem 0.6rem 1.3rem;
  text-align: center;
  word-break: break-word;
}

@media (max-width: 1449px) {
  .menu-logo-wrapper {
    width: 400px;
  }

  .header-icons {
    width: 400px !important;
  }
}

@media (max-width: 1349px) {
  .menu-logo-wrapper {
    width: 350px;
  }

  .header-icons {
    width: 350px !important;
  }
}

@media (max-width: 1249px) {
  .menu-logo-wrapper {
    width: 300px;
  }

  .header-icons {
    width: 300px !important;
  }
}

@media (max-width: 1049px) {
  .header-wrapper {
      height: 137px;
  }

  .header {
    grid-template-columns: 1fr;
    grid-template-areas: "header-1"
      "header-3"
      "header-2";
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }

  .menu-logo-wrapper {
    height: 40px;
    width: 100%;
  }

  .header-icons {
    width: 100% !important;
  }

  .header-logo {
    margin-top: 0;
    height: 100%;
  }

  .header-logo-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .header-logo-img {
    width: auto;
    height: 26px;
  }

  .menu-scroll {
    display: none;
  }
}
