/*
  Printess Shopify Integration
  Version: 2.6
*/

html {
  height: -webkit-fill-available;
}

body.hideAll>*:not(#printess-container, .printess-owned) {
  display: none !important;
}

body.hideAll {
  margin: 0;
  padding: 0;
  height: 100vh;
  height: -webkit-fill-available;
}

#printess-container>#printess {
  width: 100vw;
  height: 100%;
  border: none;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}