.cart-page-login {
    padding-top: calc(10px * var(--zoom-factor));
    padding-bottom: calc(40px * var(--zoom-factor));
}

.cart-page-login-message {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: calc(20px * var(--zoom-factor));
    margin-top: calc(20px * var(--zoom-factor));
}

.cart-page-login-error {
    display: flex;
    justify-content: center;
    width: 100%;
    color: red;
}

.address-field-login-box {
    position: relative;
    width: 100%;
    padding-top: calc(15px * var(--zoom-factor));
}

.address-field-login-box-error {
    position: absolute;
    top: calc(15px * var(--zoom-factor));
    right: calc(10px * var(--zoom-factor));
    color: red;
    font-size: calc(14px * var(--zoom-factor));
}

.address-field-login-box input[type='text'],
.address-field-login-box input[type='email'],
.address-field-login-box input[type='password'] {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: calc(20px * var(--zoom-factor));
    color: black;
    background-color: #e3e3e3;
    height: calc(50px * var(--zoom-factor));
    border-radius: calc(25px * var(--zoom-factor));
    text-align: center;
}

.address-field-login-box input[type='text']::placeholder {
    color: black;
}

.address-field-login-box input[type='text']:focus-visible {
    border: 1px solid transparent;
    box-shadow: none;
}

.login-register-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: calc(20px * var(--zoom-factor));
    color: black;
    background-color: #CBD81D;
    height: calc(50px * var(--zoom-factor));
    border-radius: calc(25px * var(--zoom-factor));
    text-align: center;
    margin-top: calc(15px * var(--zoom-factor));
}

.login-register-button:hover {
    color: white;
}

.login-register-button .api-loading-spinner {
    display: none;
}

.login-register-button.loading .api-loading-spinner {
    display: flex;
}

.login-register-button .api-loading-spinner {
    position: absolute;
    margin-left: calc(90px * var(--zoom-factor));
}

.login-register-button-forgotten {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: calc(15px * var(--zoom-factor));
    padding-right: calc(20px * var(--zoom-factor));
}

.login-register-button-forgotten a {
    font-size: calc(20px * var(--zoom-factor));
    color: #cacaca;
    text-decoration: none;
}

.login-register-button-forgotten a:hover {
    color: black;
}

.address-member-message {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: calc(20px * var(--zoom-factor));
    margin-top: calc(15px * var(--zoom-factor));
    border-top: 1px solid #CBD81D;
    padding-top: calc(15px * var(--zoom-factor));
}

.guest-checkout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: calc(20px * var(--zoom-factor));
    color: black;
    background-color: #cacaca;
    height: calc(50px * var(--zoom-factor));
    border-radius: calc(25px * var(--zoom-factor));
    text-align: center;
    margin-top: calc(15px * var(--zoom-factor));
}

.guest-checkout-button:hover {
    color: white;
}

@media screen and (max-width: 749px) {
    .cart-page-login {
        padding-bottom: 20px;
    }

    .cart-page-login-message {
        font-size: 14px;
        margin-top: 0px;
    }

    .address-field-login-box {
        padding-top: 8px;
    }

    .login-register-button {
        margin-top: 8px;
        font-size: 15px;
        height: 40px;
    }

    .address-field-login-box input[type='text'],
    .address-field-login-box input[type='email'],
    .address-field-login-box input[type='password'] {
        font-size: 14px;
        height: 40px;
    }

    .login-register-button-forgotten {
        margin-top: 5px;
        padding-right: 10px;
    }

    .login-register-button-forgotten a {
        font-size: 14px;
    }

    .address-member-message {
        font-size: 14px;
        padding-top: 10px;
    }

    .guest-checkout-button {
        font-size: 14px;
        margin-top: 8px;
        height: 40px;
    }

    .address-field-login-box-error {
        top: 6px;
        font-size: 12px;
    }
}