.customer-account {
  padding: 20px 50px;
  background-color: white;
}

.customer-account-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.customer-account-header-breadcrumbs {
  width: 33.33%;
}

.customer-account-header-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 46px;
  width: 33.33%;
}

.customer-account-header-logout {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 33.33%;
}
.customer-account-header-logout button {
  font-size: 16px;
  color: black;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.customer-account-header-logout button:hover {
  color: #cbd81d;
}

.customer-account-nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 4px solid black;
  padding-bottom: 15px;
  justify-content: center;
}

.customer-account-navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.account-navbar-item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.account-navbar-item-header h2 {
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  cursor: pointer;
}

.account-navbar-item-header h2:hover {
  color: #cbd81d;
}

.account-navbar-item-header h2.active-tab {
  border-bottom: 3px solid #cbd81d;
}

.customer-account-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 40px;
}

.customer-account-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#customer-account-error:empty {
  display: none;
}

#customer-account-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}

#customer-account-success:empty {
  display: none;
}

#customer-account-success {
  color: #cbd81d;
  background-color: #f5fecf;
  border: 1px solid #cbd81d;
  padding: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}

.account-tab-content {
  display: none;
}

.account-tab-content.active-tab {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (min-width: 990px) and (max-width: 1199px) {
  .account-navbar-item-header h2 {
    font-size: 24px;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) { 
  .customer-account {
    padding: 20px 20px;
  }

  .account-navbar-item-header h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 749px) {
  .customer-account {
    padding: 10px;
  }

  .customer-account-navbar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 30px;
    align-items: start;
    font-size: 10px;
  }

  .customer-account-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
  }

  .customer-account-navbar {
    flex-direction: column;
  }

  .account-navbar-item-header {
    padding: 0;
    justify-content: center;
  }

  .account-navbar-item-header h2 {
    font-size: 16px;
  }
}
