.main-page-title {
  margin: 0;
  font-weight: 700;
  color: #000;
  font-size: 40px;
  text-align: center;
}

.template-favourites .product-grid-container .collection-slider-item {
  vertical-align: bottom;
}

.product-loader {
  display: flex;
  justify-content: center;
}

.no-product-loaded:empty {
  display: block;
}

.no-product-loaded {
  display: flex;
  justify-content: center;
  height: 25px;
}

.hiddenLoader {
  visibility: hidden;
}

@media screen and (max-width: 749px) {
  .main-page-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

