<div class="customer-account">
  <div class="customer-account-header">
    <div class="customer-account-header-breadcrumbs"></div>
    <div class="customer-account-header-title">
      {{ 'customer.account.title' | t }}
    </div>
    <script>
      const clearAndLogout = () => {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {     
            window.location.href = "{{ routes.account_logout_url }}";
          }
        };
        xhttp.open("POST", "/cart/clear.js", true);
        xhttp.send();
      }
    </script>
    <div class="customer-account-header-logout">
      <button onclick="clearAndLogout()">
        {{ 'customer.log_out' | t }}
      </button>
    </div>
  </div>
  <div class="customer-account-nav-wrapper">
    <div class="customer-account-navbar">
      <div class="account-navbar-item">
        <div class="account-navbar-item-header">
          <h2 class="account-tab-links active-tab" onclick="openAccountTab(event, 'Account')">Account Details</h2>
        </div>
      </div>
      <div class="account-navbar-item">
        <div class="account-navbar-item-header">
          <h2 class="account-tab-links" onclick="openAccountTab(event, 'Order')">Order History</h2>
        </div>
      </div>
      <div class="account-navbar-item">
        <div class="account-navbar-item-header">
          <h2 class="account-tab-links" onclick="openAccountTab(event, 'Address');showAddresses(event, 'Direct')">Address Book</h2>
        </div>
      </div>
      {% comment %} <div class="account-navbar-item">
        <div class="account-navbar-item-header">
          <h2 class="account-tab-links" onclick="openAccountTab(event, 'Event')">Events Calendar</h2>
        </div>
      </div>{% endcomment %}
      <div class="account-navbar-item">
        <div class="account-navbar-item-header">
          <h2 class="account-tab-links" onclick="openAccountTab(event, 'PrePay')">PrePay</h2>
        </div>
      </div>
      {% comment %} <div class="account-navbar-item">
        <div class="account-navbar-item-header">
          <h2 class="account-tab-links" onclick="openAccountTab(event, 'Loyalty')">Loyalty</h2>
        </div>
      </div> {% endcomment %}
    </div>
  </div> 
  <div id="customer-account-success"></div>
  <div id="customer-account-error"></div>
  <div class="customer-account-content-wrapper">
    <div class="customer-account-content">
      <div id="Account" class="account-tab-content active-tab">
        {% render 'account-details' %}
      </div>
      <div id="Order" class="account-tab-content">
        {% render 'account-order-history' %}
      </div>
      <div id="Address" class="account-tab-content">
        {% render 'account-address-book' %}
      </div>
      {% comment %} <div id="Event" class="account-tab-content">
        {% render 'account-events-calendar' %}
      </div>{% endcomment %}
      <div id="PrePay" class="account-tab-content">
        {% render 'account-prepay' %}
      </div>
      {% comment %} <div id="Loyalty" class="account-tab-content">
        {% render 'account-loyalty' %}
      </div> {% endcomment %}
    </div>
  </div>
</div>
<script type="text/javascript">
  const openAccountTab = (evt, tabName) => {
    document.getElementById('customer-account-error').innerHTML = ''
    document.getElementById('customer-account-success').innerHTML = ''

    var i, tabcontent, tablinks

    tabcontent = document.getElementsByClassName('account-tab-content')
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].className = tabcontent[i].className.replace(' active-tab', '')
    }

    tablinks = document.getElementsByClassName('account-tab-links')
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(' active-tab', '')
    }

    document.getElementById(tabName).className += ' active-tab'
    evt.currentTarget.className += ' active-tab'
  }
</script>