.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.empty-cart-text {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    color: black;
    align-self: center;
}

.empty-cart-button {
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    background-color: #CBD81D;
    border-radius: 16px;
    width: 280px;
    height: 55px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.empty-cart-button:hover {
    color: black;
}

.empty-cart-login-title {
    font-size: 20px;
    color: black;
    align-self: center;
}

.empty-cart-login-link {
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    background-color: #53B7C0;
    border-radius: 16px;
    width: 280px;
    height: 55px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.empty-cart-login-link:hover {
    color: black;
}

.separator-basket {
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    display: flex;
    margin-top: 16px;
}

.separator-basket hr {
    width: 125px;
    height: 1px;
    border: none;
    border-radius: 24px;
    background-color: rgb(209, 209, 209);
    margin-top: 48px;
    margin-bottom: 32px;
}

.line {
    margin: 10px 0px 5px 0px !important;
}

.separator span {
    font-family:  BrandonRegular;
    font-weight: 300;
    line-height: 1.5rem;
    font-size: 1rem;
    letter-spacing: 0px;
    text-decoration: none;
}
.auth-buttons-basket {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 280px;
  }
  
  .auth-button {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 52px;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    font-family: BrandonRegular;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5rem;
    letter-spacing: 0;
    text-decoration: none;
    cursor: pointer;
    transition: box-shadow 150ms linear;
    box-shadow: rgba(0, 32, 77, 0.15) 0px 1px 4px 0px;
    border: 2px solid transparent;   
     
  }

  .auth-button__icon img {
    height: 20px;
    width: 20px;
  }
  
  .auth-button--google {
    background-color: #f0f1f3;
    color: #313131;
  }
  
  .auth-button--facebook {
    background-color: #3b5998;
    color: #ffffff;
    border-color: #3b5998;
  }
  
  .auth-button__content {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .auth-button__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
  }
  